@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

body {
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    padding: 0 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
}

.nav {
    display: flex;
}

.media {
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.header-text,
.header-subtext {
    flex: 1;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 600;
    align-self: flex-start;
}

.headerimg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    padding-left: 20px;
}

h2 {
    margin: 0;
    padding: 0;
}

div.content {
    width: 400px;
}

.info {
  padding: 0 200px;
}

.img1,
.img2,
.img3,
.img4 {
  height: 175px;
  width: 175px;
  border: 5px solid #3882F6;
  border-radius: 12px;
}

.infotext {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 50px 0;
  
}

.img-text1,
.img-text2,
.img-text3,
.img-text4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
}

.text1,
.text2,
.text3,
.text4 {
  max-width: 175px;
}

.img-text-box {
  display: flex;
  justify-content: space-between;
}

